* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.container {
  padding: 1rem;
  margin: 2rem;
}

.codigos {
  border: 1px solid #000;
  padding: 0.5rem;
}

.divisor {
  margin-top: 0.8rem;
  width: 100%;
}

.table-container {
  display: table;
  width: 100%;
}

/* TABLE */

.table {
  display: table;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
  padding: 4px;
}

.inline-block {
  display: inline-block;
}

.inline-table {
  display: inline-table;
}

/* WIDTH */

.w-1\/4 {
  width: 25%;
}

.w-1\/3 {
  width: 33%;
}

.w-1\/2 {
  width: 50%;
}

.w-3\/4 {
  width: 75%;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

/* TEXTO */

.font-bold {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

.text-sm {
  font-size: 0.64rem;
}

.no-wrap {
  white-space: nowrap;
}

/* PADDING */

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.2rem;
}

.p-2 {
  padding: 0.4rem;
}

.p-4 {
  padding: 0.8rem;
}

.py-2 {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.py-4 {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.py-8 {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

.px-2 {
  padding-right: 0.4rem;
  padding-left: 0.4rem;
}

.px-4 {
  padding-right: 0.8rem;
  padding-left: 0.8rem;
}

.pl-1 {
  padding-left: 0.2rem;
}

/* MARGIN */

.m-1 {
  margin: 0.2rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-4 {
  margin-bottom: 0.8rem;
}

/* OTRO */

.gap {
  padding: 0.1rem;
}

.gap-4 {
  padding: 0.4rem;
}

.border {
  border: 1px solid #000;
}

.bg-red {
  background-color: #ff0000;
}

.bg-blue {
  background-color: #0000ff;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.bottom-0 {
  bottom: 0;
}

.top-0 {
  top: 0;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}
